<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.noobyang.aop.UserDao" />
    <bean id="aop" class="com.noobyang.aop.AOP" />

    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interfaces" value="com.noobyang.aop.IUser" />
        <property name="target" ref="userDao" />
        <property name="interceptorNames" value="aop" />
        <property name="optimize" value="true" />
    </bean>


</beans>