<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!-- 通常，一个session-factory节点代表一个数据库 -->
    <session-factory>

        <!-- 1. 数据库连接配置 -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--Caused by: org.dom4j.DocumentException: Error on line 7 of document  : 对实体 "useSSL" 的引用必须以 ';' 分隔符结尾。 Nested exception: 对实体 "useSSL" 的引用必须以 ';' 分隔符结尾。-->
        <property name="hibernate.connection.url">jdbc:mysql:///mydatabase?serverTimezone=GMT%2B8&amp;useSSL=false</property>
        <property name="hibernate.connection.username">liyang</property>
        <property name="hibernate.connection.password">liyang</property>

        <!--数据库方法配置， hibernate在运行的时候，会根据不同的方言生成符合当前数据库语法的sql-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>


        <!-- 2. 其他相关配置 -->
        <!-- 2.1 显示hibernate在运行时候执行的sql语句 -->
        <property name="hibernate.show_sql">true</property>
        <!-- 2.2 格式化sql -->
        <property name="hibernate.format_sql">true</property>
        <!-- 2.3 自动建表  -->
<!--        create-drop 每次在创建sessionFactory时候执行创建表。当调用sesisonFactory的close方法的时候，删除表！-->
<!--        create   每次都重新建表； 如果表已经存在就先删除再创建-->
<!--        update  如果表不存在就创建； 表存在就不创建；-->
<!--        validate (生成环境时候) 执行验证： 当映射文件的内容与数据库表结构不一样的时候就报错！-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--3. 加载所有映射-->
        <mapping resource="hbm/User.hbm.xml"/>
        <mapping resource="hbm/UserList.hbm.xml"/>
        <mapping resource="hbm/UserList2.hbm.xml"/>
        <mapping resource="hbm/UserList3.hbm.xml"/>
        <mapping resource="hbm/Dept.hbm.xml"/>
        <mapping resource="hbm/Employee.hbm.xml"/>
        <mapping resource="hbm/Project.hbm.xml"/>
        <mapping resource="hbm/Developer.hbm.xml"/>
        <mapping resource="hbm/IdCard.hbm.xml"/>
        <mapping resource="hbm/IdUser.hbm.xml"/>
        <mapping resource="hbm/IdCard2.hbm.xml"/>
        <mapping resource="hbm/IdUser2.hbm.xml"/>

    </session-factory>
</hibernate-configuration>