<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="StudentID">

    <!-- resultMap标签:映射实体与表
     type属性：表示实体全路径名
     id属性：为实体与表的映射取一个任意的唯一的名字
    -->
    <resultMap type="com.noobyang.entity.Student" id="studentMap">
        <!-- id标签:映射主键属性
             result标签：映射非主键属性
             property属性:实体的属性名
             column属性：表的字段名
        -->
        <id property="id" column="id_"/>
        <result property="name" column="name_"/>
        <result property="sal" column="sal_"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="studentMap">
        select id id_, name name_, sal sal_ from student where id = #{id};
    </select>

    <insert id="add" parameterType="com.noobyang.entity.Student">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into student (id, name, sal) values (#{id},#{name},#{sal});
    </insert>

    <!--
    查询所有数据
    返回值类型讲道理是List<Student>的，但我们只要写集合中的类型就行了
    -->
    <select id="findAll" resultType="com.noobyang.entity.Student">
        select * from student;
    </select>

    <!--根据id删除-->
    <delete id="delete" parameterType="int">
        delete from student where id=#{id};
    </delete>

    <!--更新-->
    <update id="update" parameterType="com.noobyang.entity.Student">
        update student set name=#{name},sal=#{sal} where id=#{id};
    </update>

    <!--分页查询-->
    <select id="pagination" parameterType="map" resultType="com.noobyang.entity.Student">
        /*根据key自动找到对应Map集合的value*/
        select * from student limit #{start},#{end};
    </select>

</mapper>