<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--default-autowire="byType"-->
    <!--c名称空间-->


    <!-- 启动@aspectj的自动代理支持-->
    <aop:aspectj-autoproxy />
    <!--注意 xmlns:context 的配置，和 xsi:schemaLocation 需要配置 context-->
<!--    <context:component-scan base-package="com.noobyang" />-->
    <!-- 自动扫描组件，要把controller去除，他们是在spring-mvc.xml中配置，如果不去除会影响事务管理。 -->
    <context:component-scan base-package="com.noobyang">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>


    <!-- 导入外部的properties配置文件 -->
    <context:property-placeholder location="classpath:properties/*.properties"/>



    <import resource="classpath:applicationContext-mysql.xml"/>
    <import resource="classpath:applicationContext-redis.xml"/>
    <import resource="classpath:applicationContext-rabbitmq.xml"/>
    <import resource="classpath:applicationContext-mongo.xml"/>

</beans>